// Fonts
$primary-font: 'Varela Round', sans-serif;
$secondary-font: 'Montserrat', sans-serif;


// Colors
$black: #000;
$white: #fff;

//$blue: ;
//$indigo: ;
//$purple: ;
//$pink: ;
//$red: ;
$orange: #f7931d;
//$yellow: ;
//$green: ;
//$teal: ;
//$cyan: ;
//$white: ;
//$gray-600: ;
//$gray-800: ;

// Bootstrap Variables
$primary: $orange;
//$secondary: #fff;

// Media Query
$breakpoint-sm: 540px;
$breakpoint-md: 720px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1140px;